{% extends 'base.html.twig' %}

{% block title %}trackrealty{% endblock %}

{% block body %}

    {% if app.user %}
        <ul>
            <li><a href="{{ path('realty_index') }}">Realty</a></li>
            <li><a href="{{ path('tenant_index') }}">Tenant</a></li>
        </ul>
       
    {%  endif %}

{% endblock %}
