{% extends 'base.html.twig' %}

{% block title %}trackrealty{% endblock %}

{% block body %}
<div class="container bg-light m-4 py-2">
    <h1>Trackrealty</h1>
    <p>Outils de gestion des biens immobiliers</p>
    <p>
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            Découvrir notre solution
        </button>
    </p>
    <div class="collapse" id="collapseExample">
        <div class="card card-body">
            <p>Trackrealty est un outil pour vous aidez dans la gestion de vos biens immobiliers.</p>
            <p></p>
        </div>
    </div>
</div>
{% endblock %}
