{% extends 'base.html.twig' %}

{% block title %}Edit Tenant{% endblock %}

{% block body %}
    <h1>Edit Tenant</h1>

    {{ include('tenant/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('tenant_index') }}">back to list</a>

    {{ include('tenant/_delete_form.html.twig') }}
{% endblock %}
