<ul>
    <li><a href="{{ path('realty_new') }}" >Ajouter un bien</a></li>   
    <li><a href="{{ path('realty_edit') }}" >Editer un bien</a></li>
    <li><a href="{{ path('horealty_show') }}" >Supprimer un bien</a></li>
</ul>