body {
	/* background: url('https://cdn.pixabay.com/photo/2019/10/14/21/32/business-district-4550062_1280.jpg'); */
    background:url('/images/background.jpg');
    background-size: cover;
	background-attachment: fixed;
}