<footer class="page-footer font-small bg-secondary fixed-bottom mt-4">
    <div class="footer-copyright text-center py-3 bg-dark">
        <a class="px-2" href="https://www.marclombry.com/">© 2020 Copyright: Marc lombry</a>
        <a class="px-2" href="{{ path('mention') }}"> mentions légales</a>
    </div>>
</footer>