<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {{ encore_entry_link_tags('app') }}
        {% block stylesheets %}
        <link rel="stylesheet" href="https://allyoucan.cloud/cdn/icofont/1.0.1/icofont.css" integrity="sha384-jbCTJB16Q17718YM9U22iJkhuGbS0Gd2LjaWb4YJEZToOPmnKDjySVa323U+W7Fv" crossorigin="anonymous" rel="preload">
        
        {% endblock %}
    </head>
    <body>
        {% include('/_nav.html.twig') %}
      
        {% block body %}{% endblock %}
        {% block footer %}
        <footer class="page-footer font-small bg-secondary mt-4">
          <!-- Copyright -->
          <div class="footer-copyright text-center py-3 bg-dark">
            <a class="px-2" href="https://www.marclombry.com/">© 2020 Copyright: Marc lombry</a>
            <a class="px-2" href="{{ path('mention') }}"> mentions légales</a>
          </div>
          <!-- Copyright -->
        </footer>
        {% endblock %}
        {% block javascripts %}
        {% endblock %}
        {{ encore_entry_script_tags('app') }}
    </body>
</html>
