<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {{ encore_entry_link_tags('app') }}
        {% block stylesheets %}
        <link rel="stylesheet" href="https://allyoucan.cloud/cdn/icofont/1.0.1/icofont.css" integrity="sha384-jbCTJB16Q17718YM9U22iJkhuGbS0Gd2LjaWb4YJEZToOPmnKDjySVa323U+W7Fv" crossorigin="anonymous" rel="preload">
        
        {% endblock %}
    </head>
    <body>
        {% include('/_nav.html.twig') %}
      
        {% block body %}{% endblock %}
        {% block javascripts %}
        
        {% endblock %}
         {{ encore_entry_script_tags('app') }}
    </body>
</html>
